<section class="attr">
    <div class="container">
        <div class="attr__body">
            <div class="attr__body-item">
                <img src="../images/dist/attr/1.png" alt="">
                <h3>премиум подбор цветов</h3>
            </div>
            <div class="attr__body-item">
                <img src="../images/dist/attr/2.png" alt="">
                <h3>очень быстрый отклик</h3>
            </div>
            <div class="attr__body-item">
                <img src="../images/dist/attr/3.png" alt="">
                <h3>24 на 7</h3>
            </div>
        </div>
    </div>
</section>