<section class="partners">
    <div class="container">
        <div class="partners__body">
            <h2 class="partners__body-title">
                Мы сотрудничаем
            </h2>
            <div class="partners__body-block">
                <img class="partners__body-block-item" src="../images/dist/part/1.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/2.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/3.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/4.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/5.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/6.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/7.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/8.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/9.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/4.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/6.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/3.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/1.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/8.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/5.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/2.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/9.png" alt="">
                <img class="partners__body-block-item" src="../images/dist/part/7.png" alt="">
            </div>
            <div class="line"></div>
        </div>
    </div>
</section>