<section class="review">
    <div class="contianer">
        <div class="review__body">
            <h2 class="review__body-title">
                Довольные клиенты
            </h2>
            <div class="review__body-block">
                <div class="review__body-block-item">
                    <div class="review__body-block-item-text">
                        <img src="../images/dist/rev/1.png" alt="">
                        <p>
                            Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии, инициированные исключительно синтетически, описаны максимально подробно. Банальные, но неопровержимые выводы, а также тщательные исследования конкурентов неоднозначны и будут.
                        </p>
                    </div>
                    <span>Екатерина, Омск</span>
                </div>
                <div class="review__body-block-item">
                    <div class="review__body-block-item-text">
                        <img src="../images/dist/rev/2.png" alt="">
                        <p>
                            Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии, инициированные исключительно синтетически, описаны максимально подробно. 
                        </p>
                    </div>
                    <span>Светлана, Архангельск</span>
                </div>
                <div class="review__body-block-item">
                    <div class="review__body-block-item-text">
                        <img src="../images/dist/rev/3.png" alt="">
                        <p>
                            Предварительные выводы неутешительны: выбранный нами инновационный путь способствует подготовке и реализации прогресса профессионального сообщества. Задача организации, в особенности же экономическая повестка сегодняшнего дня прекрасно подходит глубокомысленных.
                        </p>
                    </div>
                    <span>Валерия, Москва</span>
                </div>
                <div class="review__body-block-item">
                    <div class="review__body-block-item-text">
                        <img src="../images/dist/rev/4.png" alt="">
                        <p>
                            Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии, инициированные исключительно . 
                            Банальные, но неопровержимые выводы, а также тщательные исследования конкурентов неоднозначны и будут.
                        </p>
                    </div>
                    <span>Анна, Кострома</span>
                </div>
            </div>
        </div>
    </div>
</section>